{% extends "base.html" %}
{%block content%}
  <h1>create </h1>
    <form action="/shortener/create" method="POST" onsubmit="return mySubmitFunction()"> {%csrf_token%}
      <label for="full_url">輸入網址：</label>
      <input name="full_url" id="full_url" type="text" class="form-control" required autocomplete="off">
      <button type="submit" class="btn btn-warning btn-lg btn-block">送出</button>
    </form>
  </div>
{%endblock%}

{%block script%}
  <script type="text/javascript">
    {#https://stackoverflow.com/questions/5717093/check-if-a-javascript-string-is-a-url#}
    function validURL(str) {
      const pattern = new RegExp('^(https?:\\/\\/)?'+ // protocol
        '((([a-z\\d]([a-z\\d-]*[a-z\\d])*)\\.)+[a-z]{2,}|'+ // domain name
        '((\\d{1,3}\\.){3}\\d{1,3}))'+ // OR ip (v4) address
        '(\\:\\d+)?(\\/[-a-z\\d%_.~+]*)*'+ // port and path
        '(\\?[;&a-z\\d%_.~+=-]*)?'+ // query string
        '(\\#[-a-z\\d_]*)?$','i'); // fragment locator
      return !!pattern.test(str);
    }

    function mySubmitFunction(){
      if (!validURL(document.getElementById('full_url').value)){
          alert('input is not url');
          return false;
      }
      const click = confirm('確認送出?');
      if (click == true) {return true}
      return false;
    }
  </script>
{%endblock%}